* {
  padding: 0;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
}
:root {
  --color--principal: rgb(7, 160, 184);
  --color--shopping: rgb(38, 38, 38);
  --color--logo: rgb(14, 50, 57);
  --color--formulary: rgb(239, 239, 239);
  --color--white: rgb(255, 255, 255);
  --color--secondary: rgb(249, 235, 238);
  --color--primary: rgb(198, 208, 210);
  --color--black: rgb(0, 0, 0);

  --transparent-shop: rgba(255, 255, 255, 0.569);
  --transparent: rgba(0, 0, 0, 57);
  --transparent-shop-add: rgba(206, 203, 203, 0.42);
  --box-shadow: rgba(0, 0, 0, 0.4);
  --color--cyan-bluish-gray: #abb8c3;
  --color--vivid-green-whatsapp: #25d366;
  --color--pale-pink: #f78da7;
  --color--vivid-red: #cf2e2e;
  --color--luminous-vivid-orange: #ff6900;
  --color--luminous-vivid-amber: #fcb900;
  --color--light-green-cyan: #7bdcb5;
  --color--vivid-green-cyan: #00d084;
  --color--pale-cyan-blue: #8ed1fc;
  --color--vivid-cyan-blue: #0693e3;
  --color--vivid-purple: #9b51e0;
  --global-color-visibly: #ff3c3c;

  --background-gradiant: radial-gradient(
    circle at 50% 50%,
    #97bdb7 0,
    #82b4b1 12.5%,
    #69abac 25%,
    #4aa0a8 37.5%,
    #1294a4 50%,
    #0088a2 62.5%,
    #007ca1 75%,
    #0072a1 87.5%,
    #0068a1 100%
  );
  --ms: 16px;
  --md: 18px;
  --lg: 20px;
}
html {
  font-size: 62.5%;
}

/* header carrucel */
.carousel {
  width: 90%;
  height: 70vh;
  top: 0;
  margin: 0 auto;
  background-color: var(--color--pale-cyan-blue);
  overflow: hidden;
  position: relative;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-indicators button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  margin: 0 8px;
  background-color: var(--color--principal);
  cursor: pointer;
  border: 1px solid #ccc;
  display: block;
  transition: opacity 200ms ease;
}

.carousel-indicators button span {
  position: relative;
}

.carousel-indicators button.active {
  background-color: var(--color--white);
}

.slider-navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.slider-navigation i {
  font-size: 60px;
  color: var(--color--white);
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.4s ease;
}
.slider-navigation i:hover {
  background-color: var(--color--principal);
  opacity: 0.6;
}

/* container */
.container {
  display: grid;
  grid-template-areas:
    'items-header items-header items-header'
    ' items-main items-main items-main'
    ' items-main items-main items-main'
    ' items-main items-main items-main'
    ' items-main items-main items-main'
    'items-footer items-footer items-footer';
  grid-template-rows: 130px;
  height: 100vh;
}

.items-header {
  grid-area: items-header;
  width: 100%;
  margin: 0 auto;
  z-index: 1000;
  height: 75px;
  background-color: var(--color--principal);
  box-shadow: 0px 5px 5px var(--box-shadow);
  display: flex;
  align-items: center;
}
.items-header span {
  display: none;
  color: var(--color--white);
  font-size: 30px;
  cursor: pointer;
}
.items_head {
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

/* ----------------------cuerpo de pagian--------------------------------------------- */
.items-main {
  grid-area: items-main;
  height: auto;
  width: 100%;
  background-color: var(--color--secondary);
  margin: auto;
}
.items_main-principal {
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  margin: auto;
  align-items: center;
}
.items_main-principal .texto {
  width: 60%;

  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;

  /* background-image: url("../images/cats.jpg"); */
  background-size: cover;
  background-position: center;
  place-items: center;
  color: var(--color--principal);
}
.items_main-principal .texto h1 {
  line-height: 3;
  font-size: 45px;
}
.items_main-principal .texto p {
  line-height: 3;
  font-size: 25px;
}

/*redes sociales--------------------Shopping------------------------- */
.redes_sociales {
  display: block;
  position: fixed;
  bottom: calc(25%);
  justify-items: center;
  flex-direction: column;
  align-items: center;
  place-content: center;
  z-index: 300;
}
.redes_sociales ul {
  padding: 0;
  list-style: none;
  margin: 1em;
}
.redes_sociales li {
  display: block;
  font-size: 1.2em;
  height: 50px;
  border-radius: 100%;
  width: 50px;
  position: relative;
  margin: 0.15em;
}
.redes_sociales i {
  color: var(--color--white);
  position: absolute;
  top: 19px;
  left: 19px;
  transition: all 265ms ease-in-out;
}
.redes_sociales a {
  display: inline-block;
}
.redes_sociales a::before {
  transform: scale(1);
  content: '';
  transition: all 265ms ease-out;
  display: block;
  height: 50px;
  border-radius: 100%;
  width: 50px;
}
.redes_sociales a:hover::before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.redes_sociales a:hover i {
  transform: scale(2.2);
  background: var(--color--white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

.redes_sociales li:first-child {
  background-color: #3b5998;
}
.redes_sociales li:nth-child(2) {
  background: linear-gradient(to right, #00c6ff, #0072ff);
}
.redes_sociales li:nth-child(3) {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}
.redes_sociales li:nth-child(4) {
  background-color: #7c7c7c;
}
.redes_sociales li:last-child {
  background-color: #db4437;
}
/*                      redes de whatsapp           */
.redes_social-whatsapp {
  bottom: 10px;
  position: fixed;
  z-index: 300;
  background-color: var(--color--vivid-green-whatsapp);
  right: 1rem;
  padding: 14px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.redes_social-whatsapp .icons {
  display: block;
  font-size: 4rem;
  font-weight: bold;
  color: var(--color--white);
  text-decoration: none;
}
/*___________________________cierre____________redes de whatsapp _____________          */

/* ------------------abre------ shoppin---------------*/
.shoppin {
  top: 30px;
  cursor: pointer;
  position: fixed;
  z-index: 300;
  background-color: var(--color--white);
  right: 1rem;
  padding: 10px;

  box-shadow: 1px 1px 5px var(--color--shopping);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
.shoppin span {
  font-size: 30px;
}
.shoppin div {
  width: 20px;
  height: 20px;
  background-color: var(--color--vivid-green-whatsapp);
  border-radius: 50%;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------footer pie de pagian ------------------------------------*/

.items-footer {
  background-color: var(--color--principal);
  grid-area: items-footer;
  color: var(--color--white);
  height: auto;
  z-index: 100;
  bottom: 0;
  width: 100%;
}

.items_footer-footer {
  height: 120px;
}
.text_footer {
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  place-items: center;
  margin: 0 auto;
}

/* ------------------este es el que lleva a registrate usuarios--------------------- */

.items_main-principal_solo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 100vh;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/dog5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  z-index: 100;
}
.items_main-principal_solo .registrate_administrador {
  width: 35%;
  height: min-content;
  padding: 10px 0;
  text-align: center;
  margin: auto;
  position: relative;
  box-shadow: 7px 13px 37px var(--box-shadow);
  background-color: var(--color--formulary);
  border-radius: 20px;
  border: solid var(--color--principal) 2px;
}
.items_main-principal_solo .registrate_administrador h4 {
  text-align: center;
  color: var(--color--principal);
  font-size: 25px;
  padding: 10px 90px;
  border-radius: 5%;
  border: 3px dashed var(--color--principal);
  width: max-content;
  margin: 20px auto;
}
.items_main-principal_solo .registrate_administrador .h4 {
  margin: 60px auto;
}

.items_main-principal_solo .registrate_administrador label {
  font-size: 13px;
  width: 60%;
  padding-bottom: 15px;
  margin: 0 auto;
  justify-items: center;
  display: block;
}
.items_main-principal_solo .registrate_administrador span {
  text-align: left;
  display: block;
  margin: auto;
  width: 80%;
}
.items_main-principal_solo .registrate_administrador input {
  font-size: 20px;
  width: 80%;
  display: block;
  margin: auto;
  border-radius: 3px;
  outline: none;
  line-height: 1.6;
  border: 1px solid var(--color--principal);
}
.items_main-principal_solo .registrate_administrador .input {
  font-size: 15px;
  padding: 5px 10px;
  margin-top: 5px;
}
.items_main-principal_solo .registrate_administrador input:hover {
  color: var(--color--luminous-vivid-orange);
  cursor: pointer;
}
.items_main-principal_solo .registrate_administrador .inputs:hover {
  color: var(--color--luminous-vivid-orange);
  cursor: pointer;
}
.registrate_administrador .ref {
  width: 70%;
  margin: 30px auto;
  font-size: 18px;
  display: inline-flex;
  font-weight: bold;
}
.items_main-principal_solo .registrate_administrador .inputs {
  padding: 5px 10px;
  color: var(--color--white);
  background-color: var(--color--principal);
  font-weight: bold;
  width: 50%;
  margin: auto;
  bottom: 30px;
}

.registrate_administrador .ref a {
  float: right;
  padding: 0 16px;

  display: block;
  color: var(--color--principal);
}
.registrate_administrador .ref a:hover {
  color: var(--color--luminous-vivid-orange);
}

/*-----------------------login en  usuarios ------------*/
.items_main-principal_logins > .items_main-principal_solo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  height: 81vh;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/dog5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 90px 0;
}
.items_main-principal_logins
  > .items_main-principal_solo
  > .registrate_administrador {
  width: 30%;
  height: min-content;
  padding: 10px 0;
  text-align: center;
  margin: auto;
  position: relative;
  background-color: var(--color--formulary);
  border-radius: 20px;
  border: solid var(--color--principal) 2px;
}
.items_main-principal_logins
  > .items_main-principal_solo
  .registrate_administrador {
  width: 33%;
  height: min-content;
  padding: 10px 0;
  text-align: center;
  margin: auto;
  position: relative;
  background-color: var(--color--formulary);
  border-radius: 20px;
  border: solid var(--color--principal) 2px;
}
.registrate_administrador .login {
  width: 70%;
  margin: 0 auto;
  font-size: 18px;
  display: inline;
  font-weight: bold;
  flex-direction: row;
}

.registrate_administrador .login input {
  width: 40%;
  padding: 5px 10px;
  margin: 10px auto;
  color: var(--color--white);
  background-color: var(--color--principal);
  font-weight: bold;
}

.registrate_administrador .loginst {
  width: 70%;
}
.registrate_administrador .logins_ancla {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-size: 18px;
  margin: 5% auto;
}

.registrate_administrador .logins_ancla ul {
  display: flex;
  margin: 10px;
  padding-left: 0;
  list-style: none;
}
.registrate_administrador .logins_ancla ul a {
  text-decoration: none;
  color: var(--color--principal);
}
.registrate_administrador .logins_ancla ul a:hover {
  color: var(--color--luminous-vivid-orange);
}
.registrate_administrador .logins_ancla .regresar {
  justify-self: end;
  /*justify-self: center;*/
}
.registrate_administrador .logins_ancla .registrate {
  justify-self: start;
}

/* ////////////////////// citas medicas ////////////// */
.citas {
  position: relative;
  background-image: url(../images/dog2.jpg);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  opacity: 0.66;
  background-position: center;
}
.citas .citas_medicas {
  display: flex;
  position: relative;
  width: 100%;
  z-index: 100;
  color: var(--color--white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.citas .citas_medicas h1 {
  color: var(--color--principal);
}
.citas .citas_medicas h3,
h4 {
  font-size: 20px;
  line-height: 3;
}
.citas .citas_medicas .citas_for {
  width: 230px;
}
.citas .citas_medicas .citas_for form {
  width: 380px;
  max-width: 100%;
  position: relative;
}
.citas .citas_medicas .citas_for input {
  display: inline-block;
  padding: 14px 200px 14px 15px;
  border: 2px solid var(--color--principal);
  outline: none;
  border-radius: 30px;
}
.citas .citas_medicas .citas_for input:last-child {
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 40px;
  border-radius: 30px;
  background: var(--color--principal);
  color: var(--color--white);
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  top: -42px;
  left: 243px;
}

/*-------------------------quienes somos ------------------------- */
.pagina_intermedio {
  position: relative;
  width: 100%;
  background-image: url(../images/dog7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 200vh;
  opacity: 0.7;
}
.pagina_parrafo {
  width: 100%;
  z-index: 100;

  color: var(--color--shopping);
  justify-content: center;
  padding-bottom: 0;
  height: 50vh;
  align-items: center;
  position: relative;
}
.pagina_parrafo h2 {
  font-size: 30px;
  color: var(--color--black);
  line-height: 2;
  padding-bottom: 20px;
  color: var(--box-shadow);
}

.pagina_parrafo .somos {
  width: 40%;
  background-color: var(--color--formulary);
  display: flex;
  padding: 120px 40px;
  flex-direction: column;
  height: auto;
  top: 30px;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.pagina_parrafo p {
  text-align: justify;
  font-size: 18px;
}

.pagina_parrafo .mision {
  width: 40%;
  float: right;
  background-color: var(--color--primary);
  display: flex;
  padding: 120px 40px;
  flex-direction: column;
  height: auto;
  top: 30px;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.pagina_parrafo .vision {
  width: 40%;
  float: left;
  background-color: var(--color--formulary);
  display: flex;
  padding: 120px 40px;
  flex-direction: column;
  height: auto;
  top: 30px;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* ---------------------shopins----------------------------- */

.primary-button {
  background-color: var(--hostital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.primary-button span {
  margin-left: 10px;
  font-size: var(--lg);
}

.product-detail {
  width: 360px;
  padding-bottom: 24px;
  position: absolute;
  right: 0;
}
.product-detail-close {
  background-color: var(--white);
  width: 14px;
  height: 14px;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;
  padding: 12px;
  border-radius: 50%;
}
.product-detail-close:nth-child(1):hover {
  cursor: pointer;
}
.product-detail > img:nth-child(2) {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-info {
  margin: 24px 24px 0 24px;
}
.product-info p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-info p:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 36px;
}
.product-info p:nth-child(3) {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 36px;
}
/* Nav logos */
.navbar .logos {
  position: relative;
  float: left;
  justify-content: center;
  align-items: center;
  height: 90px;
  left: 5%;
}
.navbar .logos picture {
  width: 100%;
}
.navbar .logos img {
  width: 100%;
  object-fit: contain;
  padding: 0;
  height: 100%;
}
.items-header .nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.items-header .nav nav {
  margin: 0 auto;
}
.items-header .nav nav ul {
  list-style: none;
}
.items-header .nav nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 25px;
}

.items-header .nav nav ul li a:hover {
  color: var(--color--luminous-vivid-amber);
}
.items-header .nav nav ul li a {
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 600;
  color: var(--color--white);
  font-weight: bold;
}
.items-header .nav .registro a {
  background-color: var(--color--white);
  color: var(--color--principal);
  padding: 10px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
/* -------------nav bar rig-------------- */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;

  background-color: var(--color--formulary);
  border-bottom: 1px solid var(--very-light-pink);
}

.navbar-right {
  display: flex;
  align-items: center;
  height: 80px;
  width: 14%;
}
.navbar-right .logins {
  cursor: pointer;
  padding: 0 20px;
  font-size: 20px;
  color: var(--color--white);
  text-decoration: none;
  font-weight: bold;
}
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar-right ul li a {
  text-decoration: none;
  color: var(--color--principal);
  padding: 8px;
  border-radius: 8px;
}

.navbar-right ul li a:hover {
  color: var(--color--vivid-green-cyan);
}
.navbar-user {
  color: var(--color--shopping);
  font-size: var(--ms);
  font-weight: bold;
  margin-right: 16px;
}
.navbar-user span {
  font-size: 50px;
  cursor: pointer;
  color: var(--color--shopping);
}
.navbar-email {
  display: none;
  color: var(--color--shopping);
  font-size: var(--ms);
  font-weight: bold;
  margin-right: 16px;
}

.navbar-shopping-cart {
  position: relative;
  cursor: pointer;
}
.navbar-shopping-cart span {
  font-size: 25px;
}

.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: var(--color--vivid-green-whatsapp);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .search {
  align-items: center;
  width: 20%;
  display: flex;

  justify-content: center;
}
.navbar .search:hover {
  cursor: pointer;
}
.navbar form {
  display: flex;
  width: 100%;
}
.navbar form label {
  position: relative;
  width: 90%;
}
.navbar form input {
  border-radius: 5px;
  width: 100%;
  padding-left: 10px;
  line-height: 3;
  border: solid 1px var(--color--principal);
  outline: none;
}
.navbar form span {
  left: 20px;
  color: var(--color--principal);
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.15s ease-out, visibility 0s;
}
.shadow-bottom {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* -------------------menu para comprar o listar producto */

.primary-button {
  background-color: var(--color--principal);
  border-radius: 8px;
  border: none;
  color: var(--color--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.primary-button > span {
  margin-left: 10px;
  font-size: var(--lg);
}

.product-detail {
  width: 360px;
  padding-bottom: 24px;
  background-color: var(--transparent-shop-add);
  position: absolute;
  right: 0;
}
.product-detail-close {
  background-color: var(--color--formulary);
  width: auto;
  height: auto;
  position: absolute;
  top: 14px;
  display: flex;
  left: 80%;
  text-align: center;
  z-index: 2;
  border-radius: 50%;
  padding: 14px;
}
.product-detail-close > span {
  color: var(--box-shadow);
  font-size: 25px;
}
.product-detail-close:nth-child(1):hover {
  cursor: pointer;
}
.product-detail > img:nth-child(2) {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-to-cart-button > span:nth-child(1) {
  width: auto;
  height: auto;
  background-color: var(--transparent-shop);
  padding: 10px;
  font-size: 25px;

  border-radius: 50%;
}
.product-info {
  margin: 24px 24px 0 24px;
}
.product-info p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-info p:nth-child(2) {
  color: var(--box-shadow);
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 36px;
}
.product-info p:nth-child(3) {
  color: var(--box-shadow);
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 36px;
}

.menu_shoppin-menu {
  padding: 24px;
}

.menu_shoppin-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  margin-bottom: 20px;
}

.menu_shoppin-menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin: 20px 0 0;
}

.menu_shoppin-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.menu_shoppin-menu ul li {
  margin-bottom: 24px;
}

.menu_shoppin-menu .email {
  font-size: var(--sm);
  font-weight: 300;
}

.menu_shoppin-menu .email-li {
  margin-top: 100px;
}

.menu_shoppin-menu .sign-out {
  font-size: var(--sm);
  font-weight: bold;

  color: var(--hostital-green);
}
/* .----------------------salir------------------------ */

.inactive {
  display: none;

  width: 100px;
  height: auto;
  background-color: var(--color--formulary);
  border: 1px solid var(--color--black);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
  right: 80px;
  position: absolute;
  float: right;
  top: 90px;
  z-index: 1000;
}

.inactive ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.inactive ul li {
  text-align: end;
}

.inactive ul li:nth-child(1),
.inactive ul li:nth-child(2) {
  font-weight: bold;
}

.inactive ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--color--black);
}

.inactive ul li:last-child a {
  color: var(--color--principal);
  font-size: var(--ms);
  font-weight: bold;
}

.inactive ul li a {
  color: var(--black);
  font-size: var(--ms);
  text-decoration: none;
  margin: 20px;
  display: inline-block;
}

.inactive {
  text-decoration: none;
}
.items_head .nav_nav {
  background-color: var(--color--principal);
  z-index: 1000;
  display: none;
  width: 100%;
  position: absolute;
  right: 0;
}
.items_head .nav_nav .menu-nav {
  margin: 0 auto;
}
.items_head .nav_nav .menu-nav ul {
  list-style: none;
}
.items_head .nav_nav .menu-nav ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.items_head .nav_nav .menu-nav ul li a:hover {
  color: var(--color--luminous-vivid-amber);
}
.items_head .nav_nav .menu-nav ul li a {
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 600;
  color: var(--color--white);
  font-weight: bold;
}
.items_head .nav_nav .registro a {
  background-color: var(--color--white);
  color: var(--color--principal);
  padding: 10px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

@media screen and (max-width: 650px) {
  .navbar .search,
  .shoppin,
  .navbar-shopping-cart,
  .items-header .nav > nav {
    display: none;
  }
  .items-header .nav > nav {
    position: absolute;
  }
  .items-header span {
    display: block;
  }
  .items_head .nav_nav {
    display: none;
  }
}
